*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bgmenu:#272727;
    --bgcenter:#171717;
    --txt:#FFFFFF;
    --seconds:#AFB6B2;
    --select:#EE4950;
    --number:#626A66;
    --deepgray:#4E4E4E; 
    --deepblue:#2E3A59;
    --txtnav:#F3777D; 
    --litxt2:#959D99;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: var(--bgcenter);
}
main{
    display: flex;
    gap: 25px;
}
.section1{
    width: 15%;
}
.menu{
    background-color: var(--bgmenu);
    height: 100%;
    border-right: var(--txt) solid 1px;
    padding: 10px;
    cursor: pointer;
    position: fixed;
}
.lognam{
    display: flex;
    align-items: center;
    gap: 10px;
}
.lognam h1{
    color: var(--txt);
    font-family: 'Inter', sans-serif;
}
.firstul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    color: var(--txt);
    font-size: 20px;
    font-weight: 700; 
    margin-top: 40px;
    cursor: pointer;
}
.menu li{
    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
}
.first{
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    padding: 10px;
    transition: 300ms all linear;
}
.first:hover{
    background-color: var(--select);
}
.second{
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    padding: 10px;
    transition: 300ms all linear;
}
.second:hover{
    background-color: var(--select);
}
.third{
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    padding: 10px;
    transition: 300ms all linear;
}
.third:hover{
    background-color: var(--select);
}
.forth{
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    padding: 10px;
    transition: 300ms all linear;
}
.forth:hover{
    background-color: var(--select);
}
.hb{
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
    padding: 10px;
    color: var(--deepblue);
    font-weight: 500; 
    font-size: 20px;
}
.homeblue{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.secondul2{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.first1{
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--txtnav);
    font-weight: 500; 
    font-size: 18px;
}
.two{
    color: var(--litxt2);
    font-weight: 500; 
    font-size: 15px;
}
.two:hover{
    color: var(--txt);
}
.section2{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: 5px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    margin-top: 30px;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-image: url(../assets/pishro.jpg);
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
}
.inpposition{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}
.inpsearch{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--txt);
    width: 40%;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;
}
.inpsearch input{
    border: none;
    outline: none;
    width: 290px;
}
.serinp{
    display: flex;
    align-items: center;
    gap: 6px;
}

.hrmic{
    display: flex;
    align-items: center;
    gap: 7px;
}
.hrmic hr{
    width: 1px;
    height: 20px;
}
.bottomcrad{
    display: flex;
    justify-content: space-between;
}
.musicstyles ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 15px;
    list-style-type: none;
    font-weight: 500;
    color: var(--litxt2);
}
.musicstyles li:hover{
    color: black;
    cursor: pointer;
}
.singerna{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:  300px;
    direction: rtl;
    padding: 10px 15px;
}
.featured{
    font-size: 13px;
    font-weight: 400;
    color: var(--litxt2);
}
.singerna span{
    color: var(--deepgray);
    font-size: 33px;
}
.post{
    color: var(--litxt2);
    font-size: 30px;
}
.playbtn{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 15px;
}
.playbtn button{
    padding: 12px 27px;
    border: none;
    background-color: var(--select);
    color: var(--txt);
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    transition: 400ms all ease;
}
.playbtn button:hover{
    background-color: transparent;
    outline: solid 1.5px var(--select);
    color: var(--select);
}
.newsee{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.newsee h3{
    color: var(--select);
    font-weight: 200;
    font-size: 15px;
}
.newicon{
    display: flex;
    align-items: center;
    gap: 10px;
}
.titles{
    color: var(--txt);
}
.releases-body{
    width: 100%;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    gap: 23px;
    height: 250px;
    margin-top: 7px;
}
.releases-body::-webkit-scrollbar{
    display: none;
}
.releases-body div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.releases-img div{
    max-width: 200px;
    width: 200px;
    height: 190px;
    background-size: cover;
    border-radius: 5px;
}
.releases-img .poori1{
    background-image: url(../assets/poori.jpg);
}
.releases-img .sorena1{
    background-image: url(../assets/gavazn.jpg);
}
.releases-img .hossein{
    background-image: url(../assets/q69.jpg);
}
.releases-img .shayea{
    background-image: url(../assets/Halale.jpg);
}
.releases-img .bahram{
    background-image: url(../assets/Eshtebah_Khoob.jpg);
}
.releases-img .hiphoppologist{
    background-image: url(../assets/shanbeh.jpg);
}
.releases-body h1{
    color: var(--txt);
    font-weight: 400;
    display: flex;
    flex-direction: column;
}
.releases-body h1 span{
    font-size: 15px;
    color: var(--litxt2);
}
.releases-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.releases-head h1{
    color: var(--txt);
}
.releases-head h3{
    color: var(--select);
    font-size: 15px;
    font-weight: 300;
}
.stories-body{
    display: flex;
    align-items: center;
    gap: 65px;
    overflow-x: scroll;
}
.stories-body::-webkit-scrollbar{
    display: none;
}
.base{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.base-story{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sorena{
    background-image: url(../assets/gavazn.jpg);
    background-size: cover;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    border: 5px solid var(--deepgray);
}
.Ho3ein{
    background-image: url(../assets/ho3einkh.jpg);
    background-size: cover;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    border: 5px solid var(--select);
}
.hiden{
    background-image: url(../assets/hiddenzoozanaghe.jpg);
    background-size: cover;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    border: 5px solid var(--select);
}
.Hichkas{
    background-image: url(../assets/mojaz.jpg);
    background-size: cover;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    border: 5px solid var(--select);
}
.pishro{
    background-image: url(../assets/Pishro-rail.jpg);
    background-size: cover;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    border: 5px solid var(--select);
}
.sadegh{
    background-image: url(../assets/sadegh.jpg);
    background-size: cover;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    border: 5px solid var(--select);
}
.poori{
    background-image: url(../assets/album-poori-fil.jpg);
    background-size: cover;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    border: 5px solid var(--select);
}
.base h1{
    font-size: 25px;
    text-align: center;
    color: var(--txt);
    font-weight: 400;
}
.base h3{
    font-size: 15px;
    text-align: center;
    color: var(--litxt2);
}
.recentlyplayed-head{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.recentlyplayed-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 200px;
    overflow: scroll;
}
.recentlyplayed-body::-webkit-scrollbar{
    display: none;
}
.playlist{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.ho3ein{
    display: flex;
    align-items: center;
    gap: 10px;
}
.ho3ein h1{
    color: var(--number);
    font-size: 17px;
}
.ho3ein h2{
    color: var(--seconds);
    font-size: 22px;
}
.hrah{
    border-radius: 5px;
    width: 70px;
    height: 60px;
    background-image: url(../assets/ho3einkh.jpg);
    background-size: cover;
}
.spans{
    text-align: center;
    color: var(--litxt2);
    font-size: 15px;
    font-weight: 500;
}
.like{
    display: flex;
    align-items: center;
    gap: 10px;
}
.like h2{
    color: var(--seconds);
}
.poori3{
    display: flex;
    align-items: center;
    gap: 10px;
}
.poori3 h1{
    color: var(--number);
    font-size: 17px;
}
.poori3 h2{
    color: var(--seconds);
    font-size: 22px;
}
.gp{
    border-radius: 5px;
    width: 70px;
    height: 60px;
    background-image: url(../assets/poori.jpg);
    background-size: cover;
}
.pishroo{
    border-radius: 5px;
    width: 70px;
    height: 60px;
    background-image: url(../assets/Pishro-rail.jpg);
    background-size: cover;
}
.pisroo13{
    display: flex;
    align-items: center;
    gap: 10px;
}
.pisroo13 h1{
    color: var(--number);
    font-size: 17px;
}
.pisroo13 h2{
    color: var(--seconds);
    font-size: 22px;
}
.doki{
    display: flex;
    align-items: center;
    gap: 10px;
}
.doki h1{
    color: var(--number);
    font-size: 17px;
}
.doki h2{
    color: var(--seconds);
    font-size: 22px;
}
.hiphopolo{
    border-radius: 5px;
    width: 70px;
    height: 60px;
    background-image: url(../assets/shanbeh.jpg);
    background-size: cover;
}
.alis{
    display: flex;
    align-items: center;
    gap: 10px;
}
.alis h1{
    color: var(--number);
    font-size: 17px;
}
.alis h2{
    color: var(--seconds);
    font-size: 22px;
}
.Ali-sorena1{
    border-radius: 5px;
    width: 70px;
    height: 60px;
    background-image: url(../assets/gavazn.jpg);
    background-size: cover;
}
.section3{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    background-color: var(--bgmenu);
    width: 25%;
    height: 100%;
    border-radius: 5px;
    position: fixed;
    margin-left: 1163px;
}
.real-time-head{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}
.real-time-head h1{
    color: var(--txt);
    font-size: 21px;
}
.realbtns{
    background-color: var(--deepgray);
    padding: 7px;
    border-radius: 5px;
}
.Local{
    padding: 5px;
    font-size: 15px;
    font-weight: 500;
    color: var(--txt);
    background-color: var(--select);
    border: none;
    border-radius: 5px;
    transition: 400ms all linear;
}
.Local:hover{
    background-color: transparent;
}
.Global{
    padding: 5px;
    font-size: 15px;
    font-weight: 500;
    color: var(--txt);
    background-color: transparent;
    border: none;
    border-radius: 5px;
    transition: 400ms all linear;
}
.Global:hover{
    background-color: var(--select);
}
.real-time-body{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    width: 100%;
    height: 250px;
    overflow: scroll;
}
.real-time-body::-webkit-scrollbar{
    display: none;
}
.firstreal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--number);
}
.inforight{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.tname{
    color: var(--txt);
    font-size: 16px;
}
.sname{
    color: var(--seconds);
    font-weight: 500;
}
.likeshare{
    display: flex;
    align-items: center;
    gap: 10px;
}
.numberright{
    color: var(--number);
    font-size: 17px;
}